body {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;  
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFBFA;
}

.Hquestionbox {
    margin-left: 50px;
    margin-right: 50px;
    min-width: 300px;
}

.Hcontact, .Next-page {
    text-decoration: none;
    color: inherit;
}

.HcontactBtn, .Next-pageBtn {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 9px;
    background-color: #54DEFD;
    border: none;
    transition-duration: 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
}

.HcontactBtn {
    width: 170px;
    margin-right: 40px;
}

.Next-pageBtn {
    width: 110px;
}

.HcontactBtn:hover {
    background-color: #49C6E5;
}

.Next-pageBtn:hover {
    background-color: #49C6E5;
}

.MainSection {
    background-color: #D7F7FF;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.flowerimg {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 5px solid #FFFBFA;
    transition: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.flowerimg:hover {
    width: 500px;
    height: 500px;
    border: 5px solid #1785A1 ;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}

.FlowerName {
    text-align: center;
}

.footerbox {
    display: flex;
    justify-content: center;
    background-color: #FFFBFA;
}
